*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cornflowerblue;
}

body{
    width: 100vh;
    height: 100%;
}

.container{
    width: 700px;
    height: 100%;
    margin: auto;
    display: flex;
    align-self: center;
    margin-left: 150px;
    margin-top: 25%;
    margin-left: 53%;
}

.prev,
.next{
    width: 50px;
    height: 100%;
    font-size: 50px;
    display: flex;
    align-self: center;
    padding: 10px;
}

.photo{
    width: calc(100% - 100px);
}

.photo img{
    width: 100%;
}

.selettori li{
    color: black;
    list-style: none;
    display: flex;
    flex-direction: row;
}

li{
    float: left;
    text-align: center;
}

h1{
    margin-left: 430px;
    width: 100%;
}